@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Quintessential&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #65a7e1;
  --color-secondary: #3091de;
  --color-third: #0882c5;
  --color-fourth: #0C1614;
  --color-fifth: #BF7245;
  --font-primary: "Quintessential", serif;
  --font-secondary: "Poiret One", sans-serif;
}


* {
  --sb-track-color: #929292;
  --sb-thumb-color: #a5a5a5;
  --sb-size: 0px;
}

*::-webkit-scrollbar {
  width: var(--sb-size)
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

body {
  cursor: url('../../../public/icons8-cursor-48.png'), auto;
}